/* Base.scss */

body {
     background-color: transparent;
//    box-sizing: border-box;
    color: $color;
    @include body-font-light;
    font-size: $base-font-size;
//    margin: 0 auto;
//    max-width: 600px;
//    padding: 0 10px;
//    width: 100%;
}

img {
    max-width: 100%;
}

h1, h2, h3 {
    @include headline-font;
    line-height: 1;
    overflow: hidden;
}

a {
    transition: color 300ms linear;
    &:hover {
        transition: color 300ms linear;
    }
}

.div-1, .div-2, .div-3, .div-4, .div-5 {
    background-color: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
    float: left;
    height: 200px;
    width: 25%;
}

.div-1 {
    height: 400px;
}

.div-5 {
    width: 75%;
}

@media screen and (max-width: 600px) {
    .div-1, .div-2, .div-3, .div-4, .div-5 {
        width: 100%;
    }
}